.edit_root {
    display: flex;
    height: 800px; 
    width: 100vw;
    background: lightyellow;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.edit_inputs {
    display: flex;
    height: 760px;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -60px;
}

.edit_knife_name {
    height: 25px;
    width: 500px;
    font-size: 18px;
    padding-left: 5px;
    border: 1px solid black;
}

.edit_knife_description {
    width: 500px;
    height: 100px;
    font-size: 18px;
    padding-left: 5px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.edit_knife_dimensions {
    display: flex;
    /* margin-bottom: 10px; */
}

.edit_knife_blade_length {
    height: 25px;
    width: 80px;
    font-size: 18px;
    padding-left: 5px;
    border: 1px solid black;
}

.edit_blade_length_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 30px;
}

.edit_overall_length_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin-right: 20px; */
}

.edit_blade_width_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
}

.edit_knife_overall_length {
    height: 25px;
    width: 80px;
    font-size: 18px;
    padding-left: 5px;
    border: 1px solid black;
}

.edit_knife_blade_thickness {
    height: 25px;
    width: 80px;
    font-size: 18px;
    padding-left: 5px;
    border: 1px solid black;
}

.edit_knife_price {
    height: 25px;
    width: 120px;
    font-size: 18px;
    padding-left: 5px;
    border: 1px solid black;
}

.edit_knife_handle_material {
    height: 25px;
    width: 500px;
    font-size: 18px;
    padding-left: 5px;
    border: 1px solid black;
}

.edit_knife_steel_type {
    height: 25px;
    width: 500px;
    font-size: 18px;
    padding-left: 5px;
    border: 1px solid black;
}

.edit_knife_image_url {
    height: 25px;
    width: 500px;
    font-size: 18px;
    padding-left: 5px;
    border: 1px solid black;
    margin-bottom: 70px;
}

.edit_knife_image {
    height: 400px;
    width: 700px;
    background: white;
    border: 1px solid black;
}

.save_button_edit a {
    display: flex;
    width: 120px;
    height: 40px !important;
    justify-content: center;
    align-items: center !important;
    background: tomato;
    font-size: 16px !important;
    color: white !important;
    cursor: pointer;
    margin-left: -90px;
}

.cancel_button_edit a {
    display: flex;
    width: 120px;
    height: 40px !important;
    justify-content: center;
    align-items: center !important;
    background: lightgray;
    font-size: 16px !important;
    color: white !important;
    cursor: pointer;
    margin-left: -90px;
}

.edit_page_buttons {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-around
}

.edit_inputs p {
    font-family: 'Montserrat', sans-serif; 
}

@media only screen and (max-width:768px) and (min-width: 321px){
    .edit_knife_image {
        height: 300px;
        width: 480px;
        background: white;
        border: 1px solid black;
        margin-top: 30px;
    }
    .edit_root {
        display: flex;
        flex-direction: column;
    }
    .edit_inputs {
        display: flex;
        align-items: center;
        /* width: 320px;
        height: 900px; */
        margin-left: 0px;
    }
    .edit_page_buttons {
        margin-bottom: 50px;
    }
    .save_button_edit a {
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .cancel_button_edit a {
        margin-left: 0px;
        margin-bottom: 20px;
    }
    }

@media(max-width:320px){
   .edit_knife_image {
        height: 170px;
        width: 280px;
        background: white;
        border: 1px solid black;
        margin-top: 30px;
    }
    .edit_root {
        display: flex;
        flex-direction: column;
    }
    .edit_knife_dimensions {
        display: flex;
        flex-direction: column;
    }
    .edit_inputs {
        display: flex;
        align-items: center;
        width: 320px;
        height: 900px;
        margin-left: 0px;
    }
    .edit_knife_name {
        width: 250px;
        padding-left: 0px;
    }
    .edit_knife_description {
        width: 250px;
        height: 300px;
    }
    .edit_knife_handle_material {
        width: 250px;
    }
    .edit_knife_steel_type {
        width: 250px;
    }
    .edit_knife_image_url {
        width: 250px;
    }
    .edit_blade_length_container {
        display: flex;
        height: 200px;
        align-items: center;
        flex-direction: column;
        margin-right: 0px;
        margin-bottom: 15px;
    }
    .edit_blade_width_container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
        margin-left: 0px;
    }
    .edit_overall_length_container {
        height: 200px;
    }
    .knife_description_limit {
        display: flex;
        align-items: center;
        width: 220px;
        height: 100px;
    }
    .edit_page_buttons {
        display: flex;
        flex-direction: column;
        height: 100px;
        width: 100px;
        justify-content: space-around;
        align-items: center;
        margin-top: -30px;
        margin-bottom: 30px;
    }
    .save_button_edit a {
        margin-left: 0px;
    }
    .cancel_button_edit a {
        margin-left: 0px;
    }
}