.subheader_container {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
    position: fixed;
}

 @media(max-width:320px) {
    .subheader_container {
       display: none;
}
    
  }