.admin_main_container {
    display: flex;
    flex-direction: row;
    background: lightyellow;
}

.add_product_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 550px;
    height: 710px;
    background: lightgray;
    border: 1px solid black;
    border-radius: 6px;
    margin: 20px;
}

.add_product_inputs {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}

.knife_dimentions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5px;
}

.price_handle {
    display: flex;
    width: 365px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.blade_length {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overall_length {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

.blade_thickness {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

.price {
    display: flex;
    flex-direction: column;
}

.handle_material {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.admin_loggedin_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 500px;
    background: lightgray;
    border: 1px solid black;
    border-radius: 6px;
    margin: 20px; 
}

.knife_updater {
    display: flex;
    height: 440px;
    width: 500px;
    align-items: center;
    flex-direction: column;
    background: lightgray;
    border: 1px solid black;
    border-radius: 6px;
}

.admin_knife_tiles_container {
    /* display: flex; */
    height: 400px;
    width: 500px;
    align-items: center;
    flex-direction: column;
    background: lightgray;
    overflow: scroll;
    margin-bottom: 10px;
}

.shopkeeper {
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.shopkeeper_buttons {
    display: flex;
    width: 110px;
    justify-content: space-between;
}

.delete_button {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
    background: tomato;
    border: none;
}

.edit_button a {
    display: flex;
    width: 45px;
    height: 25px !important;
    justify-content: center;
    align-items: center !important;
    background: azure;
    font-size: 12px !important;
    color: black !important;
    cursor: pointer;
    border: 1px solid black;
}

.admin_knife_tile {
    display: flex;
    height: 70px;
    width: 500px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.admin_knife_img {
    height: 60px;
    border: 1px solid black;
}

.admin_left_column {
    display: flex;
    width: 500px;
    flex-direction: column;
    margin-right: 30px;
    margin-left: 30px;
    align-items: center;
    
}

.admin_profile_img {
    height: 160px;
    width: 160px;
    background: white;
    border: 1px solid black;
    border-radius: 250px;
    margin-bottom: 10px;
    margin-top: -10px;
    margin-left: -10px;
}

.admin_info_container {
    display: flex;
    flex-direction: row;
    width: 420px;
}

.admin_info {
    width: 250px;
    margin-left: 30px;
}

.admin_info_first {
    margin-bottom: 10px;
}

.orders_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 550px;
    height: 710px;
    background: lightgray;
    border: 1px solid black;
    border-radius: 6px;
    margin: 20px;
}

.order_tile {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 250px;
    background: white;
    border: 1px solid darkgray;
}

.order_tile_image {
    height: 120px;
    width: 200px;
    background: black;
    margin-top: 50px;
    margin-left: 20px;
}

.order_info {
    margin-top: 30px;
    margin-left: 30px;
}

.shipped_button {
    height: 40px;
    width: 120px;
    border: none;
    background: tomato;
    font-size: 14px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.add_product_name {
    width: 360px;
    height: 20px;
    border: 1px solid darkgray;
    margin-top: -10px;
}
.add_product_description {
    width: 360px;
    height: 100px;
    border: 1px solid darkgray;
    margin-top: -10px;
}
.add_product_blade_length {
    width: 50px;
    height: 20px;
    border: 1px solid darkgray;
    margin-top: -10px;
}
.add_product_overall_length {
    width: 50px;
    height: 20px;
    border: 1px solid darkgray;
    margin-top: -10px;
}
.add_product_blade_thickness {
    width: 50px;
    height: 20px;
    border: 1px solid darkgray;
    margin-top: -10px;
}
.add_product_price {
    width: 50px;
    height: 20px;
    border: 1px solid darkgray;
    margin-top: -10px;
}
.add_product_handle_material {
    width: 250px;
    height: 20px;
    border: 1px solid darkgray;
    margin-top: -10px;
}
.add_product_steel_type {
    width: 360px;
    height: 20px;
    border: 1px solid darkgray;
    margin-top: -10px;
}
.add_product_img {
    width: 360px;
    height: 20px;
    border: 1px solid darkgray;
    margin-top: -10px;
    margin-bottom: 20px;
}

 .add_product_button {
    height: 40px;
    width: 120px;
    border: none;
    background: tomato;
    font-size: 14px;
    color: white;
    border-radius: 3px;
    margin-bottom: 50px;
    cursor: pointer;
} 

@media(max-width:320px) {
    .admin_main_container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: lightyellow;
    }
    .add_product_container {
        display: flex;
        justify-content: center; 
        align-items: center;
        flex-direction: column;
        width: 300px;
        height: 950px;
        background: lightgray;
        border: 1px solid black;
        border-radius: 6px;
        margin-left: 10px;
    }
    .add_product_header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        flex-wrap: wrap;
        /* margin-left: 100px; */
    }
    .admin_left_column {
        display: flex;
        width: 320px;
        flex-direction: column;
        margin-right: 30px;
        margin-left: 0px;
        align-items: center;
    
    }
    .add_product_container input {
        width: 200px;
    }
    .add_product_container textarea {
        width: 250px;
    }
    .admin_loggedin_container {
        display: flex;
        width: 300px;
        height: 400px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .admin_info_container {
        display: flex;
        width: 280px;
        align-items: center;
        flex-direction: column;
    }
    .knife_updater {
        width: 300px;
    }
    .admin_knife_tiles_container {
        width: 300px;
    }
    .orders_container {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 300px;
        height: 500px;
        background: lightgray;
        border: 1px solid black;
        border-radius: 6px;
        margin-left: 10px;
    }
    .order_tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 280px;
        height: 350px;
    }
    .order_tile_image {
        margin-bottom: -25px;
    }
    .order_info {
        display: flex;
        width: 200px;
        flex-direction: column;
        align-items: flex-start;
    }
    .shipped_button {
        margin-top: 10px;
    }
    .order_info p {
        height: 0px;
    }
    .admin_profile_img {
        height: 160px;
        width: 160px;
        background: white;
        border: 1px solid black;
        border-radius: 250px;
        margin-bottom: 0px;
        margin-top: 0px;
        margin-left: 0px;
    }
    .knife_dimentions {
        display: flex;
        width: 300px;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        margin-left: 0px;
    }
    .price_handle {
        display: flex;
        width: 300px; 
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: center;
        flex-wrap: nowrap;
    }
    .price {
        display: flex;
        align-items: center;
    }
    .handle_material {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
    .steel_image {
        display: flex;
        flex-direction: column;
        width: 300px;
        align-items: center;
    }
    .blade_thickness {
        margin-right: 20px;
    }
    .overall_length {
        margin-right: 20px;
    }
    .name_description {
        display: flex;
        flex-direction: column;
        width: 300px;
        align-items: center;
    }
    .admin_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        margin-left: 0px; 
        margin-top: 30px;
        font-size: 20px;
    }
    .admin_knife_tile {
        display: flex;
        height: 250px;
        width: 300px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid black;
    }
    .admin_knife_tile p {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .admin_knife_img {
        height: 100px;
        margin-top: 10px;
    }
    .shopkeeper_buttons {
        margin-bottom: 30px;
    }
}