.checkout_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: white;
}

.shipping_info_container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 520px;
    width: 50vw;
    background: lightgray;
    margin-top: -90px;
    padding: 35px;
}

.stripe_checkout_button_container {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    /* margin-right: 500px; */
    /* margin-top: -100px; */
}

.address_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    width: 500px;
    flex-wrap: wrap;
    margin-bottom: 80px;
    margin-left: 110px;
}

.shipping_firstname {
    height: 30px; 
    width: 400px;
    font-size: 20px;
}
.shipping_lastname {
    height: 30px; 
    width: 400px;
    font-size: 20px;
}
.shipping_addressOne {
    height: 30px; 
    width: 400px;
    font-size: 20px;
    margin-right: 110px;
}
.shipping_addressTwo {
    height: 30px; 
    width: 200px;
    font-size: 20px;
    margin-left: -80px;
}
.shipping_addressThree {
    height: 30px; 
    width: 100px;
    font-size: 20px;
    margin-right: 30px;
    margin-left: 30px;
}
.shipping_addressFour {
    height: 30px; 
    width: 100px;
    font-size: 20px;
}

.city_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.state_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zip_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.save_button_checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31px;
    width: 115px;
    background: tomato;
    color: white;
    margin-right: 20px;
    border-radius: 4px;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: -1px;
}

@media only screen and (max-width:768px) and (min-width: 321px){
    .checkout_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 964px;
    width: 100%;
    background: white;
}
    .shipping_info_container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 720px;
    width: 70vw;
    background: lightgray;
    margin-top: -90px;
    padding: 35px;
}
}

@media(max-width:320px) {
    .checkout_main_container {
        height: 515px;
        display: fixed;
    }
    .name_container {
        height: 150px;
        margin-bottom: 60px;
    }
    .name_container p {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .name_container input{
        width: 200px;
        height: 20px;
    }
    .shipping_info_container {
        width: 250px;
    }
    .address_container {
        display: flex;
        width: 320px;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .address_container input{
        width: 200px; 
    }
    .shipping_header {
        margin-top: 55px;
    }
    .street_address p {
        margin-top: 8px;
        margin-bottom: 8px;
     }
    .city_box p {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .state_box {
        display: flex;
        align-items: flex-start;
    }
    .state_box p {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .zip_box {
        display: flex;
        align-items: flex-start;
        height: 30px;
    }
    .zip_box p {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .shipping_addressOne {
        height: 20px; 
        width: 200px;
        font-size: 20px;
        margin-right: 0px;
    }
    .shipping_addressTwo {
        height: 20px; 
        width: 200px;
        font-size: 20px;
        margin-left: 0px;
    }
    .shipping_addressThree {
        height: 20px; 
        width: 200px;
        font-size: 20px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .shipping_addressFour {
        height: 20px; 
        width: 200px;
        font-size: 20px;
    }
}
