.contact_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1501157095236-a46e5f6274d7?dpr=1&auto=compress,format&fit=crop&w=1650&h=&q=80&cs=tinysrgb&crop=);
}

.contact_heading {
    margin-top: -120px;
    font-size: 64px;
    color: white;
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;

}

.contact_info_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    width: 600px;
    background: white;
    border-radius: 10px;
    border: 1px solid #2E2E30;
}

.contact_header {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #F8D158;
}

.contact {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #2E2E30;
}

@media only screen and (max-width:768px) and (min-width: 321px){
    .contact_main_container {
        height: 964px;
    }
}

@media(max-width:320px) {
    .contact_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 510px;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1501157095236-a46e5f6274d7?dpr=1&auto=compress,format&fit=crop&w=1650&h=&q=80&cs=tinysrgb&crop=);
}

.contact_heading {
    margin-top: -120px;
    font-size: 64px;
    color: white;
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;

}

.contact_info_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 530px;
    width: 320px;
    background: white;
    border-radius: 0px;
    border: 1px solid #2E2E30;
}

.contact_header {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #F8D158;
}

.contact {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #2E2E30;
}
}