.bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 250px;
    background: white;
    margin-top: 10px;
    margin-right: 10px;
}

.bubble img {
    height: 34px;
    margin-right: 4px;

}

 @media(max-width:320px) {
    .bubble {
    width: 40px;
    height: 40px;
    margin-right: 55px;
    }
    .bubble img {
    height: 23px;
    }
  }